pom.xml
pom.xml.asc
*.jar
*.class
*.elc
*~
.\#*
\#*\#
/lib/
/classes/
/classes
/target/
/target
/checkouts/
/checkouts
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
/.lein-*
.nrepl-port
/.nrepl-port
/.prepl-port
.cpcache/
/.emacs.desktop
/.emacs.desktop.lock
auto-save-list
tramp
profiles.clj
.hg/
.hgignore
